* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: monospace;
  height: 100vh;
  border: 10px inset #3d3d3dcc;
}
hr {
  width: 30%;
}
div.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
}
div.form input,
div.form button {
  outline: none;
  border: 1px solid #3d3d3d1f;
  padding: 5px;
  text-align: center;
  background-color: transparent;
  transition: all 0.5s;
}
div.form input:focus,
div.form button:hover {
  border-color: #3d3d3dcc;
}
div#container {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
div#container div {
  background-color: #3d3d3d;
  text-align: center;
  color: white;
  padding: 15px;
  transition: all 0.5s;
  box-shadow: 0 10px 20px 5px #ccc;
  margin: 20px 0;
}
div#container div:hover {
  transform: translateY(-3px);
}
div#container div h1 {
  font-size: 15px;
}
div#container div h3 {
  font-size: 20px;
}
